
            
            <section class="content" id="content--full">
                    <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                        <div class="col-sm-12 m-l-10">
                            <h1 class="fs-16 text-dark p-t-20">{{page.split('/')[2]}} {{page.split('/')[1]}} Manager</h1>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-6 col-md-4 col-lg-3 no-margin">
                            <div class="card padding-10">
                                <div class="row">
                                    <div class="col-2 text-left">
                                        <i class="zmdi zmdi-shopping-cart fs-30 text-warning m-t-10 p-l-10"></i>
                                    </div>
                                    <div class="col-9 m-l-10 text-right">
                                        <h4 class="text-muted fs-20 fw-100">{{app.DashboardData.Posts.count}} <span class="bold fs-14">Posts</span></h4>
                                        <small class="text-muted bold fs-12">{{app.DashboardData.Posts.approved}} waiting approval</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card padding-10">
                                <div class="row">
                                    <div class="col-9">
                                        <h4 class="fs-20 text-muted fw-100">{{app.DashboardData.Subscribers.count}} <span class="bold fs-14">Subscribers</span></h4>
                                        <small class="text-muted bold fs-12">{{app.DashboardData.Subscribers.count}} newsletter subscribers.</small>
                                    </div>
                                    <div class="col-2 text-right">
                                        <i class="zmdi zmdi-receipt fs-30 text-success m-t-10 p-r-10"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card padding-10">
                                <div class="row">
                                    <div class="col-2 text-left">
                                        <i class=" zmdi zmdi-comment-alt-text fs-30 text-primary p-l-10 m-t-10"></i>
                                    </div>
                                    <div class="col-9 no-padding text-right">
                                        <h4 class="fs-20 text-muted fw-100">{{app.DashboardData.comments.count}} <span class="bold fs-14">Reviews</span></h4>
                                        <small class="text-muted bold fs-12">{{app.DashboardData.comments.approved}} comments approved.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card padding-10">
                                <div class="row">
                                    <div class="col-8 no-padding text-left">
                                        <h4 class="p-l-20 fs-20 text-muted fw-100">{{app.DashboardData.Accounts.count}}  <span class="bold fs-14">Accts</span></h4>
                                        <small class="p-l-20 text-muted bold fs-12">{{app.DashboardData.Accounts.approved}} approved Signups.</small>
                                    </div>
                                    <div class="col-2 text-right">
                                        <i class="zmdi zmdi-accounts m-t-10 fs-30 purple"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -20px !important">
                        <div class="col-sm-4">
                            <div class="card no-padding padding-10">
                                <div class="listview">
                                    <h5 class="fs-14 text-indigo card-title m-b-10">
                                        Request Logs
                                    </h5>
                                    <a class="listview__item b-b no-padding padding-10" ng-if="(index < 8) && (index != count)" ng-repeat="(index, logs) in app.serverLogs">
                                        <i class="avatar-char fs-14" ng-class="(logs.status != 200) ? 'bg-danger': 'bg-grey'">{{logs.status}}</i>
                                        <div class="listview__content" style="margin-left: -10px">
                                            <div class="listview__heading" ng-class="(logs.status != 200) ? 'text-danger': ''" ng-bind="cutString(logs.url, 10)"></div>
                                            <p ng-class="(logs.status != 200) ? 'text-danger': ''">{{logs.response}} on {{logs.time}} of {{logs.month}} </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card no-padding padding-10">
                                <div class="listview">
                                    <h5 class="fs-14 text-indigo card-title m-b-10">
                                        Visitor Logs
                                    </h5>
                                    <!-- <a class="listview__item b-b no-padding padding-10" ng-if="(index < 5) && (index != count)" ng-repeat="(index, logs) in app.serverLogs">
                                        <i class="avatar-char fs-14" ng-class="(logs.status != 200) ? 'bg-danger': 'bg-grey'">{{logs.status}}</i>
                                        <div class="listview__content" style="margin-left: -10px">
                                            <div class="listview__heading" ng-class="(logs.status != 200) ? 'text-danger': ''" ng-bind="cutString(logs.url, 10)"></div>
                                            <p ng-class="(logs.status != 200) ? 'text-danger': ''">{{logs.response}} on {{logs.time}} of {{logs.month}} </p>
                                        </div>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card no-padding padding-10">
                                <div class="listview">
                                    <h5 class="fs-14 text-indigo card-title m-b-10">
                                        Page View
                                    </h5>
                                    <!-- <a class="listview__item b-b no-padding padding-10" ng-if="(index < 5) && (index != count)" ng-repeat="(index, logs) in app.serverLogs">
                                        <i class="avatar-char fs-14" ng-class="(logs.status != 200) ? 'bg-danger': 'bg-grey'">{{logs.status}}</i>
                                        <div class="listview__content" style="margin-left: -10px">
                                            <div class="listview__heading" ng-class="(logs.status != 200) ? 'text-danger': ''" ng-bind="cutString(logs.url, 10)"></div>
                                            <p ng-class="(logs.status != 200) ? 'text-danger': ''">{{logs.response}} on {{logs.time}} of {{logs.month}} </p>
                                        </div>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>