

            <section class="content no-margin content--full" id="content--full">
                <div class="row no-padding" style=" margin-right: -20px !important">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3 no-margin">
                                <div class="card padding-10">
                                    <div class="row">
                                        <div class="col-2 text-left">
                                            <i class="zmdi zmdi-shopping-cart fs-30 text-warning m-t-10 p-l-10"></i>
                                        </div>
                                        <div class="col-9 m-l-10 text-right">
                                            <h4 class="text-muted fs-20 fw-100">{{app.DashboardData.Blog.count}} <span class="bold fs-14">Blog</span></h4>
                                            <small class="text-muted bold fs-12">{{app.DashboardData.Blog.approved}} waiting approval</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="card padding-10">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4 class="fs-20 text-muted fw-100">{{app.DashboardData.Subscribers.count}} <span class="bold fs-14">Subscribers</span></h4>
                                            <small class="text-muted bold fs-12">{{app.DashboardData.Subscribers.count}} newsletter subscribers.</small>
                                        </div>
                                        <div class="col-2 text-right">
                                            <i class="zmdi zmdi-receipt fs-30 text-success m-t-10 p-r-10"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="card padding-10">
                                    <div class="row">
                                        <div class="col-2 text-left">
                                            <i class=" zmdi zmdi-comment-alt-text fs-30 text-primary p-l-10 m-t-10"></i>
                                        </div>
                                        <div class="col-9 no-padding text-right">
                                            <h4 class="fs-20 text-muted fw-100">{{app.DashboardData.comments.count}} <span class="bold fs-14">Reviews</span></h4>
                                            <small class="text-muted bold fs-12">{{app.DashboardData.comments.approved}} comments approved.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="card padding-10">
                                    <div class="row">
                                        <div class="col-8 no-padding text-left">
                                            <h4 class="p-l-20 fs-20 text-muted fw-100">{{app.DashboardData.Accounts.count}}  <span class="bold fs-14">Accts</span></h4>
                                            <small class="p-l-20 text-muted bold fs-12">{{app.DashboardData.Accounts.approved}} approved Signups.</small>
                                        </div>
                                        <div class="col-2 text-right">
                                            <i class="zmdi zmdi-accounts m-t-10 fs-30 purple"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px !important">
                            <div class="col-sm-12">
                                <div class="card no-padding no-margin">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card-header padding-15 m-b-20">
                                                <h2 class="card-title">Activity</h2>
                                                <small class="card-subtitle">Your last activity is posted 24 hours ago.</small>
                                            </div>
                                            <div class="card-block row">
                                                <div class="col-sm-10 no-padding" style="width: 100% !important; height: 300px !important; margin-top: -20px !important; margin-bottom: 30px !important">
                                                    <br />
                                                    <canvas id="line-chart"></canvas>
                                                    <br />
                                                </div>
                                                <div class="col-sm-2 no-padding text-left">
                                                    <h4 class="fs-14 m-b-10">
                                                        Social Mediums
                                                    </h4>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card bg-indigo-light padding-10">
                                                                <div class="row">
                                                                    <div class="col-2 text-left">
                                                                        <i class=" zmdi zmdi-facebook-box text-white m-t-5 fs-20 p-l-10"></i>
                                                                    </div>
                                                                    <div class="col-8 no-padding text-right">
                                                                        <h4 class="fs-15 text-white m-t-5">54K <span class="bold fs-14">Likes</span></h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: -20px">
                                                        <div class="col-sm-12">
                                                            <div class="card bg-blue padding-10">
                                                                <div class="row">
                                                                    <div class="col-2 text-left">
                                                                        <i class=" zmdi zmdi-twitter-box text-white m-t-5 fs-20 p-l-10"></i>
                                                                    </div>
                                                                    <div class="col-8 no-padding text-right">
                                                                        <h4 class="fs-15 text-white m-t-5">30K <span class="bold fs-14">Likes</span></h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: -20px">
                                                        <div class="col-sm-12">
                                                            <div class="card bg-red padding-10">
                                                                <div class="row">
                                                                    <div class="col-2 text-left">
                                                                        <i class=" zmdi zmdi-google-plus-box text-white m-t-5 fs-20 p-l-10"></i>
                                                                    </div>
                                                                    <div class="col-8 no-padding text-right">
                                                                        <h4 class="fs-15 text-white m-t-5">4K <span class="bold fs-14">Shares</span></h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: -20px">
                                                        <div class="col-sm-12">
                                                            <div class="card bg-warning padding-10">
                                                                <div class="row">
                                                                    <div class="col-2 text-left">
                                                                        <i class=" zmdi zmdi-globe-alt text-white m-t-5 fs-20 p-l-10"></i>
                                                                    </div>
                                                                    <div class="col-8 no-padding text-right">
                                                                        <h4 class="fs-15 text-white m-t-5">356K <span class="bold fs-14">Views</span></h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: -20px">
                                                        <div class="col-sm-12">
                                                            <div class="card bg-success padding-10">
                                                                <div class="row">
                                                                    <div class="col-2 text-left">
                                                                        <i class=" zmdi zmdi-globe text-white m-t-5 fs-20 p-l-10"></i>
                                                                    </div>
                                                                    <div class="col-8 no-padding text-right">
                                                                        <h4 class="fs-15 text-white m-t-5">899K <span class="bold fs-14">Visitors</span></h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="legend m-t-50" id="myChartLegend"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px !important">
                            <div class="col-sm-4">
                                <div class="card no-padding">
                                    <div class="card-header">
                                        <h2 class="card-title">Recent Blog</h2>
                                    </div>        
                                    <div class="listview card-content" style="margin-top: -20px !important">
                                        <a class="listview__item" ng-if="index < 6" ng-repeat="(index, posts) in app.DashboardData.Blog">
                                            <img src="{{posts.image}}" class="listview__img" alt="{{posts.title}}">
                                            <div class="listview__content">
                                                <div class="listview__heading" ng-bind="cutString(posts.title, 5)"></div>
                                                <p ng-bind-html="cutString(posts.description, 10)"></p>
                                            </div>
                                        </a>        
                                        <a href="Blog" class="view-more">View All Blog</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card no-padding">
                                    <div class="card-header">
                                        <h2 class="card-title">Recent Blog</h2>
                                    </div>        
                                    <div class="listview card-content" style="margin-top: -20px !important">
                                        <a class="listview__item" ng-if="index < 6" ng-repeat="(index, posts) in app.DashboardData.Blog">
                                            <img src="{{posts.image}}" class="listview__img" alt="{{posts.title}}">
                                            <div class="listview__content">
                                                <div class="listview__heading" ng-bind="cutString(posts.title, 5)"></div>
                                                <p ng-bind-html="cutString(posts.description, 10)"></p>
                                            </div>
                                        </a>        
                                        <a href="Blog" class="view-more">View All Blog</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card no-padding">
                                    <div class="card-header">
                                        <h2 class="card-title">Recent Signups</h2>
                                    </div>
                                    <div class="listview listview--hover card-body"  style="margin-top: -20px !important">
                                        <a class="listview__item" ng-if="index < 6" ng-repeat="(index, acct) in app.DashboardData.Accounts">
                                            <i class="avatar-char bg-grey fs-12">Acct</i>
                                            <div class="listview__content" style="margin-left: -7px !important">
                                                <div class="listview__heading fs-14">{{acct.email}}</div>
                                                <p>User {{acct.fname}} {{acct.lname}} {{acct.mname}} with access {{acct.access}} </p>
                                            </div>
                                        </a>        
                                        <a href="Accounts" class="view-more">View All Accounts</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card no-padding">
                                    <div class="card-header">
                                        <h2 class="card-title">Recent Comments</h2>
                                    </div>
                                    <div class="card-content" style="margin-top: -20px !important">
                                        <div class="listview" ng-if="index < 6" ng-repeat="(index, comments) in app.DashboardData.comments">
                                            <a class="listview__item">
                                                <div class="listview__content">
                                                    <div class="listview__heading" ng-bind="comments.post"></div>
                                                    <p ng-bind="comments.comment"></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding" style="margin-top: -10px;">
                        <div class="listview card">
                        <a class="listview__item b-b no-padding padding-10" ng-if="(index < 16) && (index != count)" ng-repeat="(index, logs) in app.DashboardData.serverLogs">
                            <i class="avatar-char fs-14" ng-class="(logs.status != 200) ? 'bg-danger': 'bg-grey'">{{logs.status}}</i>
                            <div class="listview__content" style="margin-left: -10px">
                                <div class="listview__heading" ng-class="(logs.status != 200) ? 'text-danger': ''" ng-bind="cutString(logs.url, 10)"></div>
                                <p ng-class="(logs.status != 200) ? 'text-danger': ''">{{logs.response}} on {{logs.time}} of {{logs.month}} </p>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <div class="card no-padding padding-10" data-social="item">
                    <div class="card-content">
                        <h5 class="text-primary pull-left fs-12">Update <i class="fa fa-circle text-complete fs-11"></i></h5>
                        <div class="pull-right small hint-text">
                            5,345 <i class="fa fa-comment-o"></i>
                        </div>
                        <h3 class="text-default fs-18">page dashboard Version 3.0 now release with limitless layout possibilities</h3>
                        <div class="pull-left">via <span class="text-complete">Pages</span>
                        </div>
                        <div class="pull-right hint-text">
                            July 23
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div> -->
                                <!-- <div class="card no-padding padding-10" ng-if="index < 6" ng-repeat="(index, posts) in app.DashboardData.Blog">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-4">
                                                <h5 class="pull-left fs-14 semi-bold">Blog </h5>
                                            </div>
                                            <div class="col-4">
                                            </div>
                                            <div class="col-4 text-right" ng-bind="posts.author">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <h3 class="fs-18" ng-bind="posts.title"></h3>
                                        <div class="pull-left">via <span class="text-success"  ng-bind="posts.category"></span>
                                        </div>
                                        <div class="pull-right hint-text" ng-bind="posts.posted_on">
                                        </div>
                                    </div>
                                </div> -->