<LimitExcept GET POST>
    Order allow,deny 
</LimitExcept>

# Disable directory browsing
Options All -Indexes

DirectoryIndex controller/core.php

<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<Files core.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files .*>
    Order Allow,Deny
    Deny from all
</Files>

# activating rewrite and routing
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteBase /simple/Admin/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ ?uri=$1 [QSA,L]
</IfModule>
