

            <section class="content" id="content--full">
                <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20">{{page.split('/')[1]}} {{page.split('/')[2]}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t-10">
                        <div class="table-responsive page-table">
                            <p class="text-danger" ng-bind="Error"></p>
                            <p class="text-success" ng-bind="response"></p>
                            <table class="table manager-table table-condensed" datatable="ng" dt-options="dtOptions">
                                <thead class="thead-default">
                                    <tr>                                          
                                        <th>Subcribed On</th>  
                                        <th>Fullname</th>
                                        <th>Email</th>                                                          
                                        <th>Action</th>                                                   
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index, subs) in Subscribers" ng-if="index !== 'count'">
                                        <td ng-bind="subs.date"></td>
                                        <td ng-bind="subs.name"></td>
                                        <td ng-bind="subs.mail"></td>
                                        <td>
                                            <button class="btn btn-link text-black no-padding" ng-click="mail.removeSubscribers(subs.mail)"><i class="fs-18 zmdi zmdi-delete"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>