
#ErrorDocument 403 %{REQUEST_SCHEME}://%{HTTP_HOST}%{REQUEST_URI}403
#ErrorDocument 404 %{REQUEST_SCHEME}://%{HTTP_HOST}%{REQUEST_URI}404
#ErrorDocument 500 %{REQUEST_SCHEME}://%{HTTP_HOST}%{REQUEST_URI}500
#ErrorDocument 401 %{REQUEST_SCHEME}://%{HTTP_HOST}%{REQUEST_URI}401

<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<Files core.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files .*>
    Order Allow,Deny
    Deny from all
</Files>

#Change the default page
DirectoryIndex controllers/core.php

# Disable directory browsing
Options All -Indexes

# activating rewrite and routing
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /simple/api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ ?controller=$1 [QSA,L]

    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Depth, User-Agent, X-File-Size, X-Requested-With, If-Modified-Since, X-File-Name, Cache-Control"
        
    Header unset Cookie
    Header unset Set-Cookie
    
    # Block suspicious request methods    
    RewriteCond %{REQUEST_METHOD} ^(HEAD|TRACE|TRACK|DEBUG) [NC]
    RewriteRule ^(.*)$ - [F,L]

    <filesMatch "\.(x?html?|php)$">
        Header always set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
    </filesMatch>
</IfModule>
